<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
    <ion-title>MeMoreLink</ion-title>
    <!-- <img src="../../assets/imgs/logo.png"> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense" >
    <ion-toolbar>
      <!-- <ion-title size="large">{{ folder }}</ion-title> -->
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>

        <ion-card-title style="color: red;">Our Company</ion-card-title>
        <!-- <ion-card-subtitle>MeMoreLink(<a class="nav-link" href='{{email}}' target="_top">{{emailid}}</a>)</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content>
        <div>
          At MeMoreLink, our mission is to help organizations around the US get top talent in a highly competitive job market to help lead their key business initiatives. Now more than ever, relevant skills are necessary, as are new ways to find potential candidates from diverse backgrounds.
          <br><br>
          As an IT job placement firm, we help to bridge that gap between the hiring managers' needs and the job applicants' aspirations to make hiring as easy as possible with the talent that fits best for the job roles.
          <br><br>
          Our highly committed team takes the time to understand our clients' businesses in order to fully cater to their activities, requirements and culture. We help recruiting companies stand out from their competition, making them more desirable to top talent. These companies can search for potential candidates from a large database of uploaded resumes as well as post specific job openings on an ongoing basis.
          <br><br>
          The job applicants can search for current job openings, apply to their preferred positions, get a list of their applied jobs and upload multiple resumes using a simple intuitive user interface.
          <br><br>
          We are providing <b>Numerology Prediction for applicants</b> to find out their dream job. Numerology is an age-old and respected system of divination. It is often, but not always, accurate. The readings and interpretations are always subject to the individuals' beliefs and their power to choose who they are now and who they will become. Users should take with them the insights that they find, but should also remember that no information received from any method of divination is infallible. Life is always filled with choices. We hope everyone likes this unique feature.
          <br><br>
          We created this secure site to help both organizations and applicants navigate the challenges and keep ahead of an evolving environment. We are providing a free job posting and resume searching service to the organizations for a limited period of time. Please sign up and enjoy our personalized service.
          <br><br>
          Please contact us at support@memorelink.com with any questions and let us lead you in the right way.
          <br>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>  