<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
    <ion-title>Memorelink</ion-title>
    <!-- <img src="../../assets/imgs/logo.png"> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense" >
    <ion-toolbar>
      <!-- <ion-title size="large">{{ folder }}</ion-title> -->
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>

        <ion-card-title style="color: red;">Our Company Details</ion-card-title>
        <ion-card-subtitle>Memorelink(<a class="nav-link" href='{{email}}' target="_top">{{emailid}}</a>)</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div>
          In current times, the IT job market has become highly competitive as recruitment managers strive to get top talent to help lead key business initiatives in firms.
          <br>
          As an IT job placement firm, we help to bridge that gap and make hiring as easy as possible with the hands that fit best on the job roles.
          <br>
          As part of our IT job placement services, we take the time to understand our clients' business in order to fully comprehend their activities, culture and requirements.
          <br>
          Our highly committed team specializes in IT job placement hiring and helps organizations easily identify highly experienced IT experts who makes the perfect fit for organizations.
          <br>
          As part of our IT job placement services, we take the time to understand your business in order to fully comprehend your activities, culture and what makes the perfect fit for your organization. We simply help you attain top employee value proposition that will make top IT pros desire to work for you instead of working for your competition.
          <br>
          Contact us now and let's lead you in the right way!
          <br>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>  